@using Jopp_lunch.Model.DbEntities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Uživatel
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profil</a></li>
            <li><hr class="dropdown-divider"/></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Odhlásit se</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Zaregistrovat se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Přihlásit</a>
    </li>
}
</ul>
