@page
@model Jopp_lunch.Pages.Lunches.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Lunch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lunch.cislo_obeda" />
            <div class="form-group">
                <label asp-for="Lunch.forma_obeda" class="control-label"></label>
                <input asp-for="Lunch.forma_obeda" class="form-control" />
                <span asp-validation-for="Lunch.forma_obeda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch.popis_obeda" class="control-label"></label>
                <input asp-for="Lunch.popis_obeda" class="form-control" />
                <span asp-validation-for="Lunch.popis_obeda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch.datum_vydeje" class="control-label"></label>
                <input asp-for="Lunch.datum_vydeje" class="form-control" />
                <span asp-validation-for="Lunch.datum_vydeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch.datum_pridani" class="control-label"></label>
                <input asp-for="Lunch.datum_pridani" class="form-control" />
                <span asp-validation-for="Lunch.datum_pridani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch.datum_editace" class="control-label"></label>
                <input asp-for="Lunch.datum_editace" class="form-control" />
                <span asp-validation-for="Lunch.datum_editace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
