@page
@model Jopp_lunch.Pages.Users.EditRoleModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Upravit</h1>

<h4>Uživatel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThisUsr.osobni_cislo" />
            <div class="form-group">
                <label asp-for="ThisUsr.osobni_cislo" class="control-label"></label>
                <input asp-for="ThisUsr.osobni_cislo" class="form-control" readonly />
                <span asp-validation-for="ThisUsr.osobni_cislo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ThisUsr.UserName" />
            <div class="form-group">
                <label asp-for="ThisUsr.UserName" class="control-label"></label>
                <input asp-for="ThisUsr.UserName" class="form-control" readonly />
                <span asp-validation-for="ThisUsr.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUsr.jmeno" class="control-label"></label>
                <input asp-for="ThisUsr.jmeno" class="form-control" />
                <span asp-validation-for="ThisUsr.jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUsr.prijmeni" class="control-label"></label>
                <input asp-for="ThisUsr.prijmeni" class="form-control" />
                <span asp-validation-for="ThisUsr.prijmeni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUsr.Email" class="control-label"></label>
                <input asp-for="ThisUsr.Email" class="form-control" />
                <span asp-validation-for="ThisUsr.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> 1-Jopp VM, 2-Jopp Třebíč</label>
                <label asp-for="ThisUsr.vychozi_VM.cislo_VM" class="control-label"></label>
                <input asp-for="ThisUsr.vychozi_VM.cislo_VM" class="form-control" />
                <span asp-validation-for="ThisUsr.vychozi_VM.cislo_VM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zpět na seznam</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
