@page
@model IndexModel
@{
   
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <a href="Choices" class="btn btn-primary" style="margin:10%; width:20rem; height:7rem;">Jídelní lístek</a>
</div>
