@page
@model Jopp_lunch.Pages.Choices.HotModel
@{
}
<div class="text-center">
    <div class="row justify-content-center">
        <h1 style="font-weight: bold;" class="display-4">Týdenní menu</h1>
            <div class="btn-group" style="width:25rem; margin:0.25rem;">
                <button type="button" class="btn btn-primary">Předchozí</button>
                <button type="button" class="btn btn-outline-primary" style="pointer-events: none; color:black;">23. - 27.10.</button>
                <button type="button" class="btn btn-primary">Nadcházející</button> 
            </div>         
        <div class="card" style="">
            <div class="card-header">
                <h2>Pondělí</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Polévka Rajská</li>
                <li class="list-group-item">
                    1. Burger s trhaným hovězím masem a batátovými hranolky
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    2. Grilované kuře se zeleninou
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    3. Kuře na kari s rýží basmati
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    4. Caesar salát s grilovaným kuřecím masem a krutony
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
            </ul>
        </div>
        <div class="card" style="">
            <div class="card-header">
                <h2>Úterý</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Polévka Rajská</li>
                <li class="list-group-item">
                    1. Burger s trhaným hovězím masem a batátovými hranolky
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    2. Grilované kuře se zeleninou
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    3. Kuře na kari s rýží basmati
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    4. Caesar salát s grilovaným kuřecím masem a krutony
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
            </ul>
        </div>
        <div class="card" style="">
            <div class="card-header">
                <h2>Středa</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Polévka Rajská</li>
                <li class="list-group-item">
                    1. Burger s trhaným hovězím masem a batátovými hranolky
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    2. Grilované kuře se zeleninou
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    3. Kuře na kari s rýží basmati
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    4. Caesar salát s grilovaným kuřecím masem a krutony
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
            </ul>
        </div>
        <div class="card" style="">
            <div class="card-header">
                <h2>Čtvrtek</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Polévka Rajská</li>
                <li class="list-group-item">
                    1. Burger s trhaným hovězím masem a batátovými hranolky
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    2. Grilované kuře se zeleninou
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    3. Kuře na kari s rýží basmati
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    4. Caesar salát s grilovaným kuřecím masem a krutony
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
            </ul>
        </div>
        <div class="card" style="">
            <div class="card-header">
                <h2>Pátek</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Polévka Rajská</li>
                <li class="list-group-item">
                    1. Burger s trhaným hovězím masem a batátovými hranolky
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    2. Grilované kuře se zeleninou
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    3. Kuře na kari s rýží basmati
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
                <li class="list-group-item">
                    4. Caesar salát s grilovaným kuřecím masem a krutony
                    <div class="btn-group btn-group-sm" style="">
                        <span class="btn btn-xs btn-outline-secondary" onclick="alert('Odebrat oběd'); event.stopPropagation();">
                            <b>-</b>
                        </span>
                        <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">0</button>
                        <span class="btn btn-xs btn-outline-success" onclick="alert('Přidat oběd'); event.stopPropagation();">
                            <b>+</b>
                        </span>
                    </div>
                    <button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" onclick="alert('Změna výdejního místa')">Jopp VM</button>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-outline-success" style="margin:10px; border-radius:0.25rem;">Uložit</button>
    </div>
</div>

