@page
@model Jopp_lunch.Pages.Choices.IndexModel
@{
}
<div class="text-center">
    <h1 style="font-weight: bold;" class="display-4" >Týdenní menu</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Předchozí</button>
        <button type="button" class="btn btn-outline-primary" style="pointer-events: none; color:black;">23. - 27. října.</button>
        <button type="button" class="btn btn-primary">Nadcházející</button>
    </div>
</div>